/* now we are going to style up our login page */

/* doing universal change */
*{
    margin: 0px;
    padding: 0px;
}

/* styling mainframe  class mainframe*/
.mainframe{
    background-image: linear-gradient(#e7abb9,#3477a3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling class loginframe */

.loginframe{
    background-image: linear-gradient(to left,#e7abb9,#3477a3);
    width: 40%;
    height: 80%;
    border: 3px solid rgb(143, 188, 218);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow:8px 10px rgb(150, 97, 203);
}

/* styling for class logincontent */
.logincontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* styling for class inputcontent  */
.inputcontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;

}


/* styling for class singupcontent */
.signupcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Now for login logo */
#logo{
    font-size:xx-large;
    font-weight: bold;
}

/* id logintext */
#logintext{
    font-size: large;
    font-style: italic;
    font-weight: 200;
}

/*styling for inputinfo  */

.inputinfo{
    width: 209px;
    height: 45px;
    border: 2px;
    border-radius: 10px;
    text-align: center;

}

/* styling for id submit */

#submit{
    margin-top: 18px;
    width: 180px;
}